.jumbotron {
    text-align: center;
    color: white;
    background-color: #1B69EA;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .target {
    flex: 1 220;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 3px;
    color: white;
    background-color: #1B69EA;
   
  }
  .target-product {
    flex: 1 80px;
    background-color: white;
    color: black;
  }
  .btn {
    width: 100%;
  }
  footer {
    color: black;
    background-color: rgb(184, 184, 184);
    text-align: center;
    padding: 5px 0 0 0
  }
  .redes {
    text-align: left;
    color:black;
    margin-top: 20px;
  }
  .bases{
     text-align: justify;
  }
  .contenedor-form{
    margin-left: 35%
  }
  .tarjetas-target{
    flex: 1 220;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5px;
    margin-bottom: 3px;
    color: white;
    background-color: #1B69EA;
  }

  .comentarios-target {
    flex: 1 220;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5px;
    margin-bottom: 3px;

  }

  #my-tab{
    margin-left: 25%;
    margin-right: 10%;
  }
  .container-element{
    margin-left: 10%;
    margin-right: 20%;
  }

 