$blue: #1B69EA;
$white: #ffffff;
$black: #000000;
$gray: rgb(184, 184, 184);
@mixin margin-element ($top, $left, $rigth, $bottom){
    margin-top: $top;
    margin-left: $left;
    margin-right: $rigth;
    margin-bottom: $bottom;
}

.jumbotron{
    text-align: center;
    background-color: $blue;
    color: $white;
    @include margin-element(50px, 50px, 20px, 5px);

}
.target {
    flex: 1 220;
    @include margin-element(5px, 5px, 5px,3px);
    color: $white;
    background-color: $blue;
   
  }
  .target-product {
    flex: 1 80px;
    background-color: $white;
    color: $black;
  }
  .btn {
    width: 100%;
  }
  footer {
    color: $black;
    background-color: $gray;
    text-align: center;
    padding: 5px 0 0 0
  }
  .redes {
    text-align: left;
    color:$black;
    @include margin-element(20px,0 ,0 ,0 );
  }
  .bases{
     text-align: justify;
  }
  .contenedor-form{
    @include margin-element(0,35% ,0 ,0 )
  }
  .tarjetas-target{
    flex: 1 220;
    @include margin-element(5px, 30%,30% ,3px );
    color: $white;
    background-color: $blue;
  }

  .comentarios-target {
    flex: 1 220;
    @include margin-element(5px, 30%, 30%,3px );

  }

  #my-tab{
    @include margin-element(0px, 25%,10% ,0px )
  }
  .container-element{
    @include margin-element(0px, 10%,20% ,0px )
  }

  .slide{
    @include margin-element(5px,10px , 10px , 5px);
  }