.jumbotron {
  text-align: center;
  background-color: #1B69EA;
  color: #ffffff;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 20px;
  margin-bottom: 5px; }

.target {
  flex: 1 220;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 3px;
  color: #ffffff;
  background-color: #1B69EA; }

.target-product {
  flex: 1 80px;
  background-color: #ffffff;
  color: #000000; }

.btn {
  width: 100%; }

footer {
  color: #000000;
  background-color: #b8b8b8;
  text-align: center;
  padding: 5px 0 0 0; }

.redes {
  text-align: left;
  color: #000000;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0; }

.bases {
  text-align: justify; }

.contenedor-form {
  margin-top: 0;
  margin-left: 35%;
  margin-right: 0;
  margin-bottom: 0; }

.tarjetas-target {
  flex: 1 220;
  margin-top: 5px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 3px;
  color: #ffffff;
  background-color: #1B69EA; }

.comentarios-target {
  flex: 1 220;
  margin-top: 5px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 3px; }

#my-tab {
  margin-top: 0px;
  margin-left: 25%;
  margin-right: 10%;
  margin-bottom: 0px; }

.container-element {
  margin-top: 0px;
  margin-left: 10%;
  margin-right: 20%;
  margin-bottom: 0px; }

.slide {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px; }
